---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<ins class="adsbygoogle"
     style="display:block"
     data-ad-format="fluid"
     data-ad-layout-key="-ej+6h-1b-cm+rz"
     data-ad-client="ca-pub-4394717151036319"
     data-ad-slot="4525677411"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script>
  <div class="" >
    <a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" 
    data-text="{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}" data-via="ugokingsley30" data-hashtags="dev_innovation" 
    data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br/>
    
    
    <script type="IN/Share" data-counter="right"></script><br/>
    
  </div>
  <div class="fb-share-button">
      <a class="fb-xfbml-parse-ignore" 
       target="_blank" 
       href="https://www.facebook.com/sharer/sharer.php?u&amp;src=sdkpreparse">Share</a></div>
  
  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

  {% include disqus.html disqus_identifier=page.disqus_identifier %}
</article>
